/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */
body {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin-top: 1em;
}

h2.book-title,
h5.book-title {
    font-family: 'Playfair Display', serif;
}

/* Book Cover Styles */
.book_cover {
    max-width: 200px;
    height: 300px;  
    object-fit: fill; 
    margin: 10px;
    display: block;
}

.book-cover-lg {
    height: 300px;
    width: 200px;
    object-fit: cover;
    right: -50%;
    margin-right: 10px;
}

/* Form Styles */
#title, #author, #published_date, #isbn, #summary, #categories, #cover_image_url {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 0px !important;
}

.input-background {
    background-color: #F2F2F2;
}

.long-form {
    width: 50%;
    margin: 0 auto;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    background-color: #3F2F2F;
    border-color: #3F2F2F;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

/* Navbar Styles */
.navbar {
    background-color: #3F2F2F !important;
}

.nav-link {
    color: white !important;
}

/* Carousel Styles */
.carousel-item {
    display: none;
    transition: transform 0.6s ease-in-out;
}

.carousel-item.active {
    display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.custom-carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 10;
}

.carousel-control-prev.custom-carousel-control {
    left: -5%;
}

.carousel-control-next.custom-carousel-control {
    right: -5%;
}

/* Card Styles */
.card {
    flex: 0 0 auto;
    width: 100%;
    max-width: 200%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Categories Styles */
.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.categories .form-check {
    margin-bottom: 10px;
}

/* Horizontal Rule Styles */
hr {
    margin-top: 0 !important;
}

/* Star Rating Styles */
.star-rating {
    display: flex;
    direction: row;
}

.star {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
}

.star.selected {
    color: gold;
}

/* Profile Picture Styles */
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}

.profile-pic-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Reading List Cover Styles */
.reading-list-cover {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

/* Flash Message Styles */
.flash-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #568861;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    width: 90%;
    max-width: 800px;
    text-align: center;
}