{% extends "base.html" %}
{% block content %}
<h2>Add a New Book</h2>
<form method="POST" action="{{ url_for('add_book') }}">
    {{ form.hidden_tag() }}
    {{ form.title.label }}<br>
    {{ form.title(class_='form-control', id='title') }}<br>
    {{ form.author.label }}<br>
    {{ form.author(class_='form-control', id='author') }}<br>
    {{ form.published_date.label }}<br>
    {{ form.published_date(class_='form-control', id='published_date') }}<br>
    {{ form.isbn.label }}<br>
    {{ form.isbn(class_='form-control', id='isbn') }}<br>
    {{ form.summary.label }}<br>
    {{ form.summary(class_='form-control', id='summary', rows=5, cols=40) }}<br>
    {{ form.categories.label }}<br>
    {% for subfield in form.categories %}
        <div class="form-check">
            {{ subfield(class_='form-check-input') }}
            {{ subfield.label(class_='form-check-label') }}
        </div>
    {% endfor %}
    {{ form.cover_image_url.label }}<br>
    {{ form.cover_image_url(class_='form-control', id='cover_image_url') }}<br>
    {{ form.submit(class_='btn btn-primary') }}
</form>
{% endblock %}