{% extends "base.html" %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5 position-relative">
        <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for book in books %}
                {% if loop.index0 % 4 == 0 %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% endif %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img id="book_cover" class="card-img-top" 
                                     src="{{ url_for('static', filename='assets/img/' + book.title.lower().replace(' ', '_') + '.jpeg') }}" 
                                     alt="Book cover of {{ book.title }}" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Book title-->
                                        <h5 class="fw-bolder">{{ book.title }}</h5>
                                        <!-- Book author-->
                                        <div class="text-muted">{{ book.author }}</div>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{{ url_for('book_detail', book_id=book.book_id) }}">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% if loop.index0 % 4 == 3 or loop.last %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
{% endblock %}