{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Index Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio inventore ratione quos nemo ut eligendi debitis odio, necessitatibus rem temporibus voluptates, veritatis vel delectus assumenda quasi error id deleniti! Nisi tempora perspiciatis impedit quisquam totam eius quia repellat earum obcaecati consectetur delectus, omnis recusandae harum at tenetur eligendi molestias illum. Recusandae rem hic eligendi, aut beatae animi voluptatem nemo nihil et itaque. Vero id aspernatur temporibus ab ducimus sint deleniti praesentium eligendi neque mollitia, nisi sunt, in alias ea, debitis porro! Dolorem commodi fugiat dolor vero quo excepturi dicta nostrum iste ex eveniet, quia nihil nemo veniam explicabo distinctio reprehenderit!.</p>
{% endblock %}